<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        .img{
            display: flex;
            align-items: center;
            padding-left: 5rem;
            background-color: #0E4BAA ;
            height: 7vh;
        }
        img {
            height: 28px;
            width: 102px;
        }
        .text-center p {
            color: gray;
        }
        .header{
            font-size: 1.75rem;
            margin-top: 3rem;
            margin-bottom: 0rem;
        }
        .margin{
            margin-left: 3rem;
            margin-right: 3rem;
        }
        .col-md-3{
            padding-right: 0.3rem !important;
            margin-right: 0.3rem;
            margin-left: 0.3rem;
            margin-top: 1rem !important;
        }
        .myBtn{
            background-color:#0E4BAA !important;
            width: 100%;
            height: 12rem;
            display: block;
        }
        #myBtnAdd{
            border:none;
            background-color:#D5D8DC !important;
            color: #2C3E50;
            width: 100%;
            height: 12rem
        }
        button{
            white-space: normal !important;
        }

    </style><!-for desks-->
    <style>
        .img{
            display: flex;
            align-items: center;
            padding-left: 5rem;
            background-color: #0E4BAA ;
            height: 50px;
        }
        img {
            height: 28px;
            width: 102px;
        }
        col p{
            line-height: 0.5rem;
        }
        .listHead {
            color: white;
            font-size: 1.75rem;
            font-style: italic;
            padding-left: 5rem;
        }
        .delete{
            padding-right: 2rem !important;
            font-style: normal;
            text-align: right;
        }
        .deleteBtn{
            background-color: #2881D5 !important;
            border: none !important;
            font-size: 1.5rem !important;
            margin-top: 0.3rem;

        }
        .listRow{
            margin-left: 1rem !important;
            margin-right: 1rem !important;
        }
        .listCol{
            border-radius: 0.5rem;
            background-color:  #D6DDDD;
            padding-top: 0.5rem;
            margin-left: 0.5rem;
            margin-bottom: 0.5rem !important;
        }
        .listBtn{
            background-color: white !important;
            color: grey !important;
            border: none !important;
            font-size: 1.4rem !important;
            width: 100%;
            margin-top: 0.5rem;
        }
        .listBtnAddDell{
            background-color:  #D6DDDD !important;
            color: grey !important;
            border: none !important;
            font-size: 1.4rem !important;
            width: 100%;
            margin-top: 0.5rem;
        }
        button{
            white-space: normal !important;
        }
        .paddingTop1rem {
            padding-top: 1rem
        }
        .btnAdd{
            color: white;
            background-color:  #2881D5;;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem !important;
            font-size: 1.4rem !important;
            width: 74%;
        }
        .btnClose{
            width: 22%;
        }

    </style><!-for lists-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>{{title}}</title>
</head>